In [1]:
import pandas as pd

# Column Name Descriptions  
INSTNM (Institution Name)  
SATBBR (State Abbreviation)  
City  
Latitude  
Longitude  
SCHTYPE (1=Public, 2=Private,non-profit)  
C100_4 (completion rate for 4 year institutions)  
TRANS_4 (Transfer rate for first-time, full-time students at four-year institutions)  
SAT_AVG (SAT average score)  
ACTCMMID (ACT composite midpoint score)  
UGDS_WHITE (Total share of enrollment of undergraduate degree-seeking students who are white)  
UGDS_BLACK (Total share of enrollment of undergraduate degree-seeking students who are Black)  
UGDS_HISP (Total share of enrollment of undergraduate degree-seeking students who are Hispanic)  
UGDS_ASIAN (Total share of enrollment of undergraduate degree-seeking students who are Asian)  
TUITIONFEE_IN (In-state tuition and fees)  
TUITIONFEE_OUT (Out-of-state tuition and fees)  
COSTT4_A (Average cost of attendance (academic year institutions))

In [2]:
SY19 = pd.read_csv("MERGED2018_19_PP.csv")
# SY19.IL()
SY19_IL = SY19.loc[SY19["STABBR"]=="IL"]
# SY19_IL.head()
SY19_IL = SY19_IL[["INSTNM","STABBR","CITY","LATITUDE","LONGITUDE","SCHTYPE","C100_4","TRANS_4","SAT_AVG","ACTCMMID","UGDS_WHITE","UGDS_BLACK","UGDS_HISP","UGDS_ASIAN","UGDS_AIAN","TUITIONFEE_IN","TUITIONFEE_OUT","COSTT4_A"]]
SY19_IL["Year"] = "2019"
# SY19_IL.head()
SY19_IL = SY19_IL.dropna()
SY19_IL.head()

C:\Users\koros\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (9,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1909,1910,1911,1912,1913,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1983,1984) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,INSTNM,STABBR,CITY,LATITUDE,LONGITUDE,SCHTYPE,C100_4,TRANS_4,SAT_AVG,ACTCMMID,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,TUITIONFEE_IN,TUITIONFEE_OUT,COSTT4_A,Year
865,School of the Art Institute of Chicago,IL,Chicago,41.881050,-87.625758,2.0,0.4728,0.1920,1226.0,25.0,0.3415,0.0356,0.1078,0.0992,0.0014,49310.0,49310.0,63848.0,2019
867,Aurora University,IL,Aurora,41.753631,-88.349023,2.0,0.3718,0.0000,1068.0,21.0,0.4830,0.0733,0.3192,0.0236,0.0023,24260.0,24260.0,34650.0,2019
872,Blackburn College,IL,Carlinville,39.287896,-89.870241,2.0,0.3407,0.0000,1050.0,20.0,0.7576,0.1212,0.0428,0.0107,0.0000,22410.0,22410.0,30605.0,2019
875,Bradley University,IL,Peoria,40.696896,-89.616786,2.0,0.5953,0.0000,1212.0,26.0,0.7273,0.0694,0.1037,0.0346,0.0002,33760.0,33760.0,46304.0,2019
888,Chicago State University,IL,Chicago,41.718446,-87.609384,1.0,0.0394,0.4106,972.0,18.0,0.0336,0.7386,0.0721,0.0049,0.0049,10163.0,17123.0,20357.0,2019

In [3]:
SY18 = pd.read_csv("MERGED2017_18_PP.csv")
# SY18.head()
SY18_IL = SY18.loc[SY18["STABBR"]=="IL"]
# SY18_IL.head()
SY18_IL = SY18_IL[["INSTNM","STABBR","CITY","LATITUDE","LONGITUDE","SCHTYPE","C100_4","TRANS_4","SAT_AVG","ACTCMMID","UGDS_WHITE","UGDS_BLACK","UGDS_HISP","UGDS_ASIAN","UGDS_AIAN","TUITIONFEE_IN","TUITIONFEE_OUT","COSTT4_A"]]
SY18_IL["Year"]="2018"
# SY18_IL.head()

C:\Users\koros\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (1729) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
for index, row in SY18_IL.iterrows():
    if row['INSTNM'] in SY19_IL['INSTNM'].tolist():
        latitude = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'LATITUDE'].iloc[0]
        SY18_IL.at[index,'LATITUDE']= latitude
        longitude = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'LONGITUDE'].iloc[0]
        SY18_IL.at[index,'LONGITUDE']= longitude
        school_type = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'SCHTYPE'].iloc[0]
        SY18_IL.at[index,'SCHTYPE']= school_type
        
SY18_IL = SY18_IL.dropna()
SY18_IL.head()

,INSTNM,STABBR,CITY,LATITUDE,LONGITUDE,SCHTYPE,C100_4,TRANS_4,SAT_AVG,ACTCMMID,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,TUITIONFEE_IN,TUITIONFEE_OUT,COSTT4_A,Year
904,School of the Art Institute of Chicago,IL,Chicago,41.881050,-87.625758,2.0,0.4541,0.1881,1242.0,26.0,0.3437,0.0350,0.1135,0.0952,0.0021,49610.0,49610.0,62010.0,2018
906,Aurora University,IL,Aurora,41.753631,-88.349023,2.0,0.3793,0.0000,1062.0,21.0,0.4985,0.0846,0.2991,0.0222,0.0036,23520.0,23520.0,33781.0,2018
911,Blackburn College,IL,Carlinville,39.287896,-89.870241,2.0,0.4539,0.0000,1041.0,21.0,0.7563,0.1119,0.0451,0.0090,0.0036,21992.0,21992.0,29509.0,2018
914,Bradley University,IL,Peoria,40.696896,-89.616786,2.0,0.5089,0.0000,1212.0,25.0,0.7323,0.0713,0.1023,0.0353,0.0009,32930.0,32930.0,45148.0,2018
928,Chicago State University,IL,Chicago,41.718446,-87.609384,1.0,0.0239,0.5047,946.0,19.0,0.0395,0.7467,0.0775,0.0030,0.0035,10252.0,17212.0,21270.0,2018

In [ ]:
SY17 = pd.read_csv("MERGED2016_17_PP.csv")
# SY17.head()
SY17_IL = SY17.loc[SY17["STABBR"]=="IL"]
# SY17_IL.head()
SY17_IL = SY17_IL[["INSTNM","STABBR","CITY","LATITUDE","LONGITUDE","SCHTYPE","C100_4","TRANS_4","SAT_AVG","ACTCMMID","UGDS_WHITE","UGDS_BLACK","UGDS_HISP","UGDS_ASIAN","UGDS_AIAN","TUITIONFEE_IN","TUITIONFEE_OUT","COSTT4_A"]]
SY17_IL["Year"]="2017"
# SY17_IL.head()

In [ ]:
for index, row in SY17_IL.iterrows():
    if row['INSTNM'] in SY19_IL['INSTNM'].tolist():
        latitude = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'LATITUDE'].iloc[0]
        SY17_IL.at[index,'LATITUDE']= latitude
        longitude = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'LONGITUDE'].iloc[0]
        SY17_IL.at[index,'LONGITUDE']= longitude
        school_type = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'SCHTYPE'].iloc[0]
        SY17_IL.at[index,'SCHTYPE']= school_type

SY17_IL = SY17_IL.dropna()
SY17_IL.head()

In [ ]:
SY16 = pd.read_csv("MERGED2015_16_PP.csv")
# SY16.head()
SY16_IL = SY16.loc[SY16["STABBR"]=="IL"]
# SY16_IL.head()
SY16_IL = SY16_IL[["INSTNM","STABBR","CITY","LATITUDE","LONGITUDE","SCHTYPE","C100_4","TRANS_4","SAT_AVG","ACTCMMID","UGDS_WHITE","UGDS_BLACK","UGDS_HISP","UGDS_ASIAN","UGDS_AIAN","TUITIONFEE_IN","TUITIONFEE_OUT","COSTT4_A"]]
SY16_IL["Year"]="2016"
# SY16_IL.head()

In [ ]:
for index, row in SY16_IL.iterrows():
    if row['INSTNM'] in SY19_IL['INSTNM'].tolist():
        latitude = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'LATITUDE'].iloc[0]
        SY16_IL.at[index,'LATITUDE']= latitude
        longitude = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'LONGITUDE'].iloc[0]
        SY16_IL.at[index,'LONGITUDE']= longitude
        school_type = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'SCHTYPE'].iloc[0]
        SY16_IL.at[index,'SCHTYPE']= school_type

SY16_IL = SY16_IL.dropna()
SY16_IL.head()

In [ ]:
SY15 = pd.read_csv("MERGED2014_15_PP.csv")
# SY15.head()
SY15_IL = SY15.loc[SY15["STABBR"]=="IL"]
# SY15_IL.head()
SY15_IL = SY15_IL[["INSTNM","STABBR","CITY","LATITUDE","LONGITUDE","SCHTYPE","C100_4","TRANS_4","SAT_AVG","ACTCMMID","UGDS_WHITE","UGDS_BLACK","UGDS_HISP","UGDS_ASIAN","UGDS_AIAN","TUITIONFEE_IN","TUITIONFEE_OUT","COSTT4_A"]]
SY15_IL["Year"]="2015"
# SY15_IL.head()

In [ ]:
for index, row in SY15_IL.iterrows():
    if row['INSTNM'] in SY19_IL['INSTNM'].tolist():
        latitude = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'LATITUDE'].iloc[0]
        SY15_IL.at[index,'LATITUDE']= latitude
        longitude = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'LONGITUDE'].iloc[0]
        SY15_IL.at[index,'LONGITUDE']= longitude
        school_type = SY19_IL.loc[SY19_IL['INSTNM']==row['INSTNM'], 'SCHTYPE'].iloc[0]
        SY15_IL.at[index,'SCHTYPE']= school_type

SY15_IL = SY15_IL.dropna()
SY15_IL.head()

In [ ]:
print(f'The length of SY15_IL is {len(SY15_IL)}')
print(f'The length of SY16_IL is {len(SY16_IL)}')
print(f'The length of SY17_IL is {len(SY17_IL)}')
print(f'The length of SY18_IL is {len(SY18_IL)}')
print(f'The length of SY19_IL is {len(SY19_IL)}')

In [ ]:
dfs = [SY19_IL, SY18_IL, SY17_IL, SY16_IL, SY15_IL]
SY2015_2019 = pd.concat(dfs)
SY2015_2019

In [ ]:
SY15_IL.to_csv("Output/SY15_IL.csv", index=False, header=True)
SY16_IL.to_csv("Output/SY16_IL.csv", index=False, header=True)
SY17_IL.to_csv("Output/SY17_IL.csv", index=False, header=True)
SY18_IL.to_csv("Output/SY18_IL.csv", index=False, header=True)
SY19_IL.to_csv("Output/SY19_IL.csv", index=False, header=True)
SY2015_2019.to_csv("Output/SY2015_2019.csv", index=False, header=True)